<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <!--bootstrap-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous" />
  <!--our style sheet-->
  <link rel="stylesheet" type="text/css" href="assets/css/main.css" />
  <!--google fonts-->
  <link href="https://fonts.googleapis.com/css?family=Marvel" rel="stylesheet" />
  <!-- favicon -->
  <link rel="icon" type="image/ico" href="assets/images/arrows_rotate.png" />
  <!--jquery-->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

  <title>Placeholder</title>
</head>

<body>
  {{{body}}}
</body>

</html>