<div>
  <h1>
    Sign Up!
  </h1>
  <form name="signUpForm" action="/auth/local/signUp" method="post">
    Username: <input name="localUsername" id="localUsername" /><br />
    Password: <input name="localPassword" id="localPassword" /><br />
    <input type="submit" value="Sign Up" />
  </form>
</div>