<div>
    <h1>
        Sign In!
    </h1>
    <form name="signInForm" action="/auth/local/signIn" method="post">
        Username: <input name="localUsername" id="localUsername" /><br />
        Password: <input name="localPassword" id="localPassword" /><br />
        <input type="submit" value="Sign In" />
    </form>
</div>