<script src="/js/Chart.js"></script>
<script src="/js/stats.js"></script>
<div>
  <h1>
    {{#if user.username}}{{user.username}}{{else}}{{user.localUsername}}{{/if}}
  </h1>
</div>
<h1>Chosen City: {{cityResults.city}}</h1>
<div style="position: relative; height: 40vh; width: 40vw">
  <canvas id="myChart" width="400px" height="400px"></canvas>
</div>