<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Hooray Google Auth</title>
</head>

<body>
  <div><img src="{{user.image}}" alt="">{{user.name}}</div>
</body>

</html>