@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(359deg); } }

.submit-btn {
  position: relative;
  margin-top: 2rem; }

.form-container {
  font-size: 1.6rem;
  padding: 2rem;
  margin-left: 25rem;
  margin-right: 25rem; }

.2ndlogin {
  margin: 0; }

.questionsPage {
  height: 90vh;
  background: linear-gradient(to right bottom, #68a0b0, #a7d8de);
  clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  background-size: cover;
  background-position: top;
  position: relative; }

.questions {
  position: relative;
  margin-top: 5rem; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-shadow: border-box;
  text-transform: uppercase; }

html {
  font-size: 62.5%; }

body {
  font-family: "Marvel", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #121f1f;
  padding: 3rem;
  position: relative; }

.login {
  position: relative;
  margin-left: 95%;
  margin-bottom: 2rem; }

.header {
  height: 95vh;
  background: linear-gradient(to right bottom, #68a0b0, #a7d8de);
  clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%);
  background-size: cover;
  background-position: top;
  position: relative; }
  .header__text-box {
    position: absolute;
    top: 20%;
    left: 35%;
    transform: translate(-50%, -50%);
    text-align: center; }

.mission--heading {
  position: relative;
  margin-left: 93%;
  margin-bottom: 1rem;
  font-weight: bold; }

.company-statement {
  position: relative;
  margin-left: 80%;
  margin-bottom: 2rem; }

.heading-btn {
  position: relative;
  margin-left: 75%; }

.heading-primary--main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  margin-top: 5rem;
  margin-bottom: 7rem; }

.spin {
  background-image: url(cityPano.jpg);
  position: relative;
  top: 30%;
  left: 2%;
  clip-path: circle(40%);
  z-index: -1; }

#spinning {
  -webkit-animation: rotation 20s infinite linear; }

.btn-text, .btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #121f1f;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #121f1f;
  padding: 3px;
  transition: all .2s; }
  .btn-text:hover, .btn-text:link:hover, .btn-text:visited:hover {
    background-color: #121f1f;
    color: #eaebe6;
    box-shadow: 0 1rem 2rem rgba(18, 31, 31, 0.15);
    transform: translateY(-2px); }
  .btn-text:active, .btn-text:link:active, .btn-text:visited:active {
    box-shadow: 0 0.5rem 1rem rgba(18, 31, 31, 0.15);
    transform: translateY(0); }

.footer {
  font-size: 1.6rem;
  margin-top: 5rem;
  margin-right: 5rem;
  margin-bottom: .5rem;
  color: #82919a; }

.testimonials {
  background-color: #eaebe6;
  padding: 30rem 0;
  margin-top: -5vh; }

.heading-secondary {
  text-align: center;
  font-size: 3.5rem;
  position: relative;
  top: -20rem;
  font-weight: 700;
  background-image: linear-gradient(to right, #c3d6dd, #68a0b0);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem; }
