// ------------- third page ---------------

.theWholecontainer{
    height: 100%;
    background: $mainBackground;
    background-size: cover;
    background-position: top;
    position: relative;
}

.profile-container {
        font-size: $mainFontSize;
        padding: 2rem;
        margin-left: 20rem;
        margin-right: 20rem;
   
}
.logout2 {
    position: relative;
    margin-right: 0;
}