//colors
$colorDarkest: #121f1f;
$colorgrey: #82919a;
$colorDarkblue: #68a0b0;
$colorBlue: #a7d8de;
$colorLightBlue: #c3d6dd;
$colorLightest: #eaebe6;
$colorBlack: #000;

//fonts
$mainFontStyle: 'Marvel', sans-serif;
$mainFontSize: 2rem;
$uppercase: uppercase;


//background
$mainBackground: 
     linear-gradient(
    to right bottom,
    $colorDarkblue, $colorBlue
     );
    




