//colors
$colorDarkest: #121f1f;
$colorgrey: #82919a;
$colorDarkblue: #68a0b0;
$colorBlue: #a7d8de;
$colorLightBlue: #c3d6dd;
$colorLightest: #eaebe6;
$colorBlack: #000;

//fonts
$mainFontStyle: 'Marvel', sans-serif;
$mainFontSize: 1.6rem;
$uppercase: uppercase;


